* {
  margin: 0;
  padding: 0;
}



.morecontent a{
    text-decoration: none;
    color: #da2323;
}
.morecontent a:hover{
    text-decoration: none;
    color: white;
}
.nhacvietmoi a:hover {
    color: gray;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.col-md-4.error {
    right: 15px;
    background: linear-gradient(#a71111,#7b0909);
    border: 0px;
    width: 33.33333%;
}
ul.dropdown-menu.dropdownmenu li:last-child a {
   
    border-bottom: 0px;
   
}
ul.nav.navbar-nav.menutop2 li a:hover {

    background: linear-gradient(#333333,#000000);
}
body {
    background-image: url('../img/123.jpg');
     background-repeat: no-repeat;
    background-attachment: fixed;
/*     background-size: cover;
    background-position: center; */
}


.row.row3 {
    min-height: 510px;
}

div#demo1 p {
    font-size: 16px;
    line-height: 0px;
    margin-bottom: 10px;
}
span.glyphicon.glyphicon-menu-right.menuright {
    top: 2px;
    left: 10px;
    font-size: 20px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid #797878;
    box-shadow: 0px 0px 2px 0px;
}

.baihatnb a:hover{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
.noidungnoibat a:hover {
    text-decoration: none;
    color: white;
}
a.list-group-item.list-group-item-action.lstbxhal:hover {
    color: white;
}

.list-group.lstbxhal {
    margin-bottom: 0px;
    margin-top: 0px;
}


a.list-group-item.list-group-item-action.lstbxhal {
    background: linear-gradient(#292929,#131313);
    border-color: #767e88;
    color: #b7b3d6;
    font-size: 17px;
}

a.list-group-item.list-group-item-action.lstbxh:hover {
    color: white;
}


.col-sm-4.noidungtrai2 {
    top: 13px;
}

a.list-group-item.list-group-item-action.lstbxh {
    background: linear-gradient(#292929,#131313);
    border-color: #767e88;
    color: #b7b3d6;
    font-size: 20px;
}

.jumbotron.jbt {
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

a.list-group-item.list-group-item-action {height: 55px;}

.list-group.lstbxh {
    margin-bottom: 0px;
    margin-top: 0px;
}

audio.audiosing {width: 98%;}

.col-sm-8.col8sing {
    left: 15px;
    height: 50px;
    border-radius: 5px;
    padding: 0px;
}

legend {
    text-align: center;
    color: orange;
}

form.form-horizontal {
    color: #cec7c7;
    border: 1px solid white;
    box-shadow: 0 0 3px 1px;
    width: 790px;
}

li.upload.disabled {
    left: 163px;
}

.col-sm-12 h4 {
    margin-bottom: -5px;
}

.col-sm-12.colbxhnhac {}



/* .noidungbh .noidungtrai2 h4.card-title {
    float: right;
    padding-right: 125px;
} */



.col-sm-4.col-xs-12.noidungtrai2
 a:hover {
    text-decoration: none;
    color: white;
}

.casinoidungtrai2 {
    margin-top: -70px;
    margin-right: 141px;
}

h4.tencasi {
    margin-bottom: 78px;
}

.tencasi a {
    margin-bottom: -11px;
}
h4.tencasi {
    padding: 0px;
    margin: 0px;
    float: right;
    margin-bottom: 0px;
}

h3.tenbaihat {
    padding: 0px;
    margin: 0px;
    float: right;
    margin-right: 84px;
}

.noidungtrai2 a {
    color: #231f1f;
    font-size: 18px;
    font-weight: bold;
    padding-left: 0px;
}

.noidungtrai2 li {
    padding-left: 10px;
}

.noidungtrai2 img {
    border: 1px solid black;
    box-shadow: 0 0 3px 1px;
    width: 40px !important;
}

.noidungtrai2 ul{
    list-style: none;
}



.noidungtrai2 hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #3a0d0d;
}

.collapse.navbar-collapse {
    padding: 0px;
}

ul.dropdown-menu.dropdownmenu {
    padding: 0px;
}

ul.dropdown-menu.dropdownmenu a {
    background: #383737;
    border-bottom: 1px solid #848484;
    color: white;
}
ul.dropdown-menu.dropdownmenu a:hover {
    background:black;
    
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
.container5 h3 {margin-top: 0px;margin-bottom: 0px;}

.container.container6 p.pleft {
    font-size: 18px;
    margin-top: -33px;
    float: right;
}

.container.container6 p {
    font-size: 16px;
    color: #ffffffe6;
    margin-bottom: 0px;
    margin-top: 15px;
    padding-top: 11px;
}

.footer {
    height: 65px;
    background: linear-gradient(#232323,#000000);
    margin-top: 35px;
}

.container.container5 {padding-top: 10px;}

.col9nhacvietmoi ul li.casi a {
    font-size: 15px;
}

li.casi a {
    font-size: 15px;
}

.col-sm-9.col9nhacvietmoi {
    top: 20px;
    left: 5px;
}

.col-sm-6.col6nhacvietmoiright {
    left: 13px;
    border-right: 0px;
}



.col-sm-3.col3nhacvietmoi1 {
    left: 13px;
}

.col9nhacvietmoi ul li a {
    color: #d6d6d6;
    font-size: 19px;
}
.col9nhacvietmoi li a:hover {
    text-decoration: none;
    color: white;
}


.col-sm-9.col9nhacvietmoi ul {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

.col-sm-3.col3nhacvietmoiright, .col3nhacvietmoileft {
    padding: 5px;
    left: 10px;
}



.col6nhacvietmoileft, .col6nhacvietmoiright {
    padding: 0px;
    top: 15px;
    background: linear-gradient(#040404,#1b1b1b);
    border: 1px solid gray;
    box-shadow: 0px 0px 3px 1px;
}
.nhacvietmoi {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 25px;
    font-family: initial;
}
.nhacvietmoi a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.jumbotron {
    background: linear-gradient(#383838,#212121);
    color: white;
    margin-top: 50px;
    margin-bottom: 0px;
    min-height: 200px;
}

.col-sm-8.colbhnghenhieu {
    padding: 0px;
}


div#carousel-example-generic {
    width: 767px;
}

.col-sm-3.col-xs-3.noidungnoibat {
    margin-top: 15px;
}

.col-sm-3.col-xs-3.noidungnoibat {
    padding-left: 0px;
    left: 15px;
    z-index: 999;
}

.col-sm-8.colbhnoibat {
    padding: 0px;
}


.col-sm-4.col-xs-12.noidungtrai2 {
    padding: 0px;
    width: 340px;
    height: 413px;
    left: 22px;
    top: 13px;
    margin-left: 0px;
}



.noidungtrai2 p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border-top-left-radius: 5px;
    color: white;
    margin-bottom: 0px;
    border-top-right-radius: 5px;
    background: black;
    border: 1px solid #b7b3d6;
}




.noidungbh .card {
    box-shadow: 0 0 3px 1px;
    color: black;
    font-size: 1px;
    background: black;
    border: 1px solid #cccccc;
}

.carousel-inner.slideanh {
    border: 3px solid #cccccc;
    box-shadow: 0px 0px 2px 1px;
}



.noidungbh .pbaihat {
    margin-bottom: -5px;
    margin-top: -3px;
}

 /* .noidungnb h5 {
    margin-top: 0px;
    margin-bottom: 15px;

}  */

span.glyphicon.glyphicon-menu-right.menuright {
    top: 2px;
    left: 10px;
    font-size: 20px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid #1f1616;
}

.baihatnb {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 25px;
    font-family: initial;
}

.baihatnb a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.noidungnoibat a {
    text-decoration: none;
    color: #d6d6d6;
}

/* .card {
    overflow: hidden;
}

.card:hover  {
    transform: translateY(-5px);
    transition: 0.6s;

} */



.card:hover .fade1 {
    opacity: 1;
}

.fade1 {
    background: #3330309e;
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: 1;
    transition: 0.6s;
    top: 0px;
    opacity: 0;
    color: #dad5d5;
    font-size: 13px;
}

.fader1:hover{
    opacity: 1;
}

span.glyphicon.glyphicon-play.iconplay {
    position: absolute;
    z-index: 2;
    left: 70px;
    top: 65px;
    font-size: 15px;
    padding: 10px;
    color: #fdfcfc;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0;
    transition: 0.4s;
    transform: scale(0.1);
}

.card:hover span.glyphicon.glyphicon-play.iconplay {
 
    opacity: 1;
    transform: scale(1.1);
    
}



/* .col-sm-2.noidungnoibat {
    height: 150px;
    min-height: 220px;
} */

.col-sm-2.noidungnoibat {
    padding-right: 0px;
    margin-right: -5px;
    position: relative;
    
}

/* .col-sm-3.noidungnoibat {
    padding-left: 0px;
} */




.slideanh img.d-block.w-100 {
    height: 350px;
    width: 1050px;
}



 .noidungbh h4.card-title {
    text-align: center;
    margin-top: 2px;
    font-size: 15px;
    color: #d6d6d6;
    margin-bottom: 0px;
}


.col-sm-4.noidungtrai1{
    width: 354px;
    height: 354px;
    left: 18px;
    padding: 0;
    border: 1px solid black;
    box-shadow: 0 0 5px 2px;
}

.container3 a.right.carousel-control {
    background: none;
}

.container3 a.left.carousel-control {
    background: none;
}

.menutop2 a span {
    left: 0px;
}



ul.nav.navbar-nav.menutop2 li a {
    padding: 15px 30px;
}



ul.nav.navbar-nav.menutop2 li a {
   color: white;
   margin: 0px 0px;
}



ul.nav.navbar-nav.menutop1 li.active a {background: linear-gradient(#4d95ce,#255267);}


nav.navbar.navbar-inverse.navbar2 {
    background: linear-gradient(#383838,#212121);
    border: 0px;
    border-radius: 0px;
}


span.glyphicon.glyphicon-cloud-upload.iconupload {
    font-size: 16px;
    color: white;
}


form.navbar-form.navbar-left.formsearch1 input {
    width: 343px;
}
form.navbar-form.navbar-left.formsearch1 button {
    margin-left:0px;
}

.formsearch1 input {
    width: 200px;
}
nav.navbar.navbar-inverse.navbar1 {
    border-radius: 0px;
    margin-bottom: 0px;
    background: linear-gradient(#333333,#000000);
    border: 0px;
}
@media (max-width:1200px ){
    form.navbar-form.navbar-left.formsearch1 input {
        width: 100%;
    }

    form.navbar-form.navbar-left.formsearch1 button {
        margin-left:0px;
    }

    ul.nav.navbar-nav.navbar-right.dangnhap li.li2 {
        margin-right: 69px;
    }
    span.glyphicon.glyphicon-play.iconplay {
        position: absolute;
        z-index: 2;
        left: 55px;
        top: 55px;
        font-size: 16px;
        padding: 8px;
        color: #fdfcfc;
        border: 2px solid white;
        border-radius: 50%;
        opacity: 0;
        transition: 0.6s;
    }
    .col-sm-4.col-xs-12.noidungtrai2 {
        padding: 0px;
        width: 253px;
        height: 345px;
        left: 22px;
        top: 13px;
        margin-left: 0px;
    }

    .noidungtrai2 p {
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        color: white;
    }


    .col9nhacvietmoi ul li a {
        color: #d6d6d6;
        font-size: 16px;
    }
    .col9nhacvietmoi ul li.casi a {
        font-size: 13px;
    }
    a.list-group-item.list-group-item-action {
        height: 47px;
    }
    a.list-group-item.list-group-item-action.lstbxh {
        background: #292929;
        border-color: #767e88;
        color: #b7b3d6;
        font-size: 18px;
    }
    a.list-group-item.list-group-item-action.lstbxhal {
        background: #292929;
        border-color: #767e88;
        color: #b7b3d6;
        font-size: 15px;
    }

     .col6nhacvietmoileft, .col6nhacvietmoiright {

        height: 90px;

    }
} 
@media (min-width: 992px) and (max-width: 1200px){
    .fade1 {
        background: #3330309e;
        width: 145px;
        height: 146px;
        position: absolute;
        z-index: 1;
        transition: 0.6s;
        top: 0px;
        opacity: 0;
        color: #dad5d5;
        font-size: 13px;
    }
    ul.nav.navbar-nav.menutop2 li a {
        padding: 15px 21px;
    }

    .row.row2 {
    margin-top: 20px;
    }
    .baihatnb {
        margin-top: 15px;
        margin-bottom: 0px;
        font-size: 25px;
        font-family: initial;
    }

    div#carousel-example-generic {
      width: 630px;
    }
    .slideanh img.d-block.w-100 {
        height: 280px;
        width: 1050px;
    }
    li.upload.disabled {
        left: 95px;
    }

    .col-sm-4.noidungtrai1 {
        width: 282px;
        height: 286px;
        left: 22px;
        padding: 0px;
    }
    .noidungtrai1 img {
        height: 95px;
        width: 53px;
    }
    .col-sm-4.col-xs-12.noidungtrai2 {
        padding: 0px;
        height: 348px;
        left: 22px;
        top: 12px;
        margin-left: 0px;
    }
    .noidungtrai2 img {
        border: 1px solid black;
        box-shadow: 0 0 3px 1px;
        width: 35px !important;
    }
}
@media(max-width: 992px){
    li.upload.disabled {
    left: 44px;
}
    ul.nav.navbar-nav.menutop2 li a {
        padding: 15px 10px;
    }
    ul.nav.navbar-nav.navbar-right.dangnhap li.li2 {
        margin-right: 60px;
    }
    ul.nav.navbar-nav.menutop2 li a {
        text-align: center;
    }
   span.glyphicon.glyphicon-play.iconplay {
        position: absolute;
        z-index: 2;
        left: 40px;
        top: 45px;
        font-size: 15px;
        padding: 6px;
        color: #fdfcfc;
        border: 2px solid white;
        border-radius: 50%;
        opacity: 0;
        transition: 0.6s;
    }
    .fade1 {
        background: #3330309e;
        width: 108px;
        height: 109px;
        position: absolute;
        z-index: 1;
        transition: 0.6s;
        top: 0px;
        opacity: 0;
    }
    .col-sm-4.col-xs-12.noidungtrai2 {
        padding: 0px;
        height: 283px;
        left: 22px;
        top: 14px;
        margin-left: 0px;
        width: 250px;
    }
    .row.row2 {
     margin-top: 0px;
    }

    .noidungtrai2 p {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: white;
    }

    .noidungtrai4 p {
        text-align: center;
        background: black;
        font-size: 15px;
        font-weight: bold;
        color: white;
    }
     div#carousel-example-generic {
      width: 488px;
    }
    .slideanh img.d-block.w-100 {
        height: 229px;
    }
    a.list-group-item.list-group-item-action {
        height: 36.5px;
    }
    .col-sm-4.noidungtrai1 {
        width: 215px;
        height: 235px;
        left: 22px;
        padding: 0px;
    }
    .noidungtrai1 img {
         height: 78px;
    }
    .col9nhacvietmoi ul li a {
        color: #d6d6d6;
        font-size: 15px;
    }
    .col9nhacvietmoi ul li.casi a {
        font-size: 13px;
    }
    .noidungtrai2 img {
        border: 1px solid black;
        box-shadow: 0 0 3px 1px;
        width: 25px !important;
    }
    a.list-group-item.list-group-item-action.lstbxh {
        background: #292929;
        border-color: #767e88;
        color: #b7b3d6;
        font-size: 15px;
    }


}
@media(max-width: 768px){
    .menutop2 a span {
        margin-left: 48px;
    }
    .col-sm-4.col-xs-12.noidungtrai2 {
    margin-left: 0px;
    }
    .noidungtrai2 p {

  

    background: none;
    }
    .slideanh img.d-block.w-100 {
      height: 270px;
    }
    .container.container3 {
         min-height: 278px;
    }

    .col6nhacvietmoileft, .col6nhacvietmoiright {

width: 175px;

height: 265px;
}
    .col-sm-3.col3nhacvietmoiright, .col3nhacvietmoileft {
        padding: 0px;
        left: 0px;
    }
    .noidungtrai2 p{
        border: 0px;
    }   
     .fade1 {
        background: #3330309e;
        width: 91%;
        height: 90%;
        position: absolute;
        z-index: 1;
        transition: 0.6s;
        top: 0px;
        opacity: 0;
    } 
    span.glyphicon.glyphicon-play.iconplay {
    position: absolute;
    z-index: 2;
    left: 70px;
    top: 70px;
    font-size: 15px;
    padding: 6px;
    color: #fdfcfc;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0;
    transition: 0.6s;
    display: none;
}
  
}


@media(max-width: 576px){
    ul.nav.navbar-nav.menutop2 li a {
        text-align: center;
    }
    .baihatnb {
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 20px;
        font-family: initial;
    }
    .noidungbh h4.card-title {
        text-align: center;
        margin-top: 2px;
        font-size: 9px;
        color: #d6d6d6;
        margin-bottom: 0px;
    }
    .fade1 {
    background: #3330309e;
    width: 88%;
    height: 88%;
    position: absolute;
    z-index: 1;
    transition: 0.6s;
    top: 0px;
    opacity: 0;
}
}
